@model BlogProjectMVC.Models.Blog

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h4 class="text-primary lead">Blog</h4>
    <hr />
    <div class="row d-flex justify-content-md-center">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control rounded" required />
                    <span asp-validation-for="Title" class="text-danger fs-6"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control rounded" required></textarea>
                    <span asp-validation-for="Description" class="text-danger fs-6"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" type="file" class="form-control rounded" accept=".JPEG,.JPG,.PNG,.SVG,.WebP,.Git"/>
                    <span asp-validation-for="ImageFile" class="text-danger fs-6"></span>
                </div>
                <div class="form-group my-3">
                    <input type="submit" value="Create" class="btn btn-primary rounded" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
