<form asp-action="SearchIndex">
    <div class="input-group mt-5">
        <input type="text" name="SearchTerm" class="form-control rounded-start" placeholder="Search" height="5" />
        <button type="submit" class="btn btn-warning rounded-end">Search</button>
    </div>
</form>