@{
    ViewData["Title"] = "Home Page";
}


<div class="row gx-2 gy-2">
    <div class="col-4">
        <div class="bg-black rounded">sdfgsdfg</div>
    </div>
    <div class="col-4">
        <div class="bg-black rounded">sdfgsdfg</div>
    </div>
    <div class="col-4">
        <div class="bg-black rounded">sdfgsf</div>
    </div>
    <div class="col-4">
        <div class="bg-black rounded">sdfgsdg</div>
    </div>
    <div class="col-4">
        <div class="bg-black rounded">sdfgsd</div>
    </div>
    <div class="col-4">
        <div class="bg-black rounded">sdfgsdfg</div>
    </div>

</div>