@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p class="text-primary">
        Please check your email to reset your password.
    </p>
</div>


